$black: #000000;
$white: #ffffff;

$primary: #e32885;
$dark: $black;

$grey: #999999;
$grey-light: #f2f2f2;
$grey-dark: #666666;
$grey-light-2: #ececec;
$grey-light-3: #cacaca;
$grey-light-4: #c4c4c4;
