$font-main: 'Roboto', sans-serif;

$font-family: $font-main;
$font-size: 18px;
$font-weight: 400;
$line-height: 1.2;
$color: $black;

html {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
}
